{% extends 'base.html.twig' %}

{% block title %}Bienvenu dans <strong>mon monde</strong> !{% endblock %}

{% block body %}
<h1>Index de mes Jolibrairies</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th> &nbsp;</th>
        </tr>
    </thead>
  {% for librairie in librairies %}
      <tbody>

        <tr>
            <td>{{ librairie.Id }}</td>
            <td>{{ librairie.description }}</td>
            <td><a href="{{ path('librairie_show', {'id': librairie.id}) }}">consulter</a></td>

        </tr>
    </tbody>
  {% endfor %} 
  </table>
<a href="{{ path('home') }}">Retour</a>
{% endblock %}
