{% extends 'base.html.twig' %}

{% block title %}Nouvelle Jolibrairie{% endblock %}

{% block body %}
    <h1> Création d'une Jolibrairie </h1>

    {{ include('librairie/_form.html.twig') }}

    <button class="w3-btn"><a href="{{ path('livre_new') }}">Ajouter des livres</a></button>
    <button class="w3-btn"><a href="{{ path('librairies_list') }}">Retour à l'index des Jolibrairies</a></button>
{% endblock %}
