{% extends 'base.html.twig' %}

{% block title %}Modification de l'étalage{% endblock %}

{% block body %}
    <h1>Modification de l'étalage</h1>

    {{ include('etalage/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_etalage_index') }}">Retour</a>

    {{ include('etalage/_delete_form.html.twig') }}
{% endblock %}
