{% extends 'base.html.twig' %}

{% block title %}Bienvenue!
{% endblock %}

{% block body %}
<h1>Index des amateurs</h1>
<table class="table">
	<thead>
		<tr>
			<th>Nom</th>
			<th>
				&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{% for amateur in amateurs %}


			<tr>
				<td>{{ amateur.nom }}</td>
				<td></td>
				<td>
					<a href="{{ path('amateur_show', {'id': amateur.id}) }}">Découvre en plus !</a>
				</td>
			</tr>
		</td>
	</tbody>
</tr>{% endfor %}</tbody></table><button class="w3-btn"><a href="{{ path('home') }}">Retour</a></button>{% endblock %}
